USE [master]
GO
/****** Object:  Database [QLLX]    Script Date: 5/25/2018 11:45:06 PM ******/
CREATE DATABASE [QLLX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLLX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLLX.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLLX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLLX_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLLX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLLX]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 5/25/2018 11:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] NOT NULL,
	[USERNAME] [nchar](50) NULL,
	[PASSWORD] [nvarchar](256) NULL,
	[TYPEID] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ADMINMN]    Script Date: 5/25/2018 11:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINMN](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[IDLEVEL] [int] NULL,
 CONSTRAINT [PK_ADMINMN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DRIVER]    Script Date: 5/25/2018 11:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRIVER](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[IDCARD] [nchar](15) NOT NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[PHONE] [nchar](20) NULL,
 CONSTRAINT [PK_DRIVER_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LEVEL]    Script Date: 5/25/2018 11:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVEL](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_LEVEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 5/25/2018 11:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[ID] [int] NOT NULL,
	[TYPENAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_TYPE] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[TYPE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_TYPE]
GO
ALTER TABLE [dbo].[ADMINMN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_LEVEL] FOREIGN KEY([IDLEVEL])
REFERENCES [dbo].[LEVEL] ([ID])
GO
ALTER TABLE [dbo].[ADMINMN] CHECK CONSTRAINT [FK_ADMIN_LEVEL]
GO
USE [master]
GO
