<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TruckManage.Properties.Settings.QLLXConnectionString"
            connectionString="Data Source=DESKTOP-MBC95EN\REI;Initial Catalog=QLLX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TruckManage.Properties.Settings.QLLXConnectionString1"
            connectionString="Data Source=DESKTOP-5DD10DG\SQLEXPRESS;Initial Catalog=QLLX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>